@use './variables' as *;

body {
  background-color: $rose-500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.recipe {
  max-width: 23.438rem;
  background-color: $white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin: 1rem;
}

.recipe__image {
  max-width: 100%;
  height: auto;
}
