// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

// Font Size
$body-copy-font-size: 16px;

// Fonts
$young-serif: 'Young Serif', serif;
$young-serif-font-weight: 400;
$outfit: 'Outfit', sans-serif;
$outfit-font-weight-regular: 400;
$outfit-font-weight-medium: 600;
$outfit-font-weight-bold: 700;
